@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";

@theme {
  --font-dm-sans: "DM Sans", sans-serif;
}

.hero-section {
  background: url('./assets/images/hero-component/hero_bg-image.jpg');
  background-size: cover;
  /* background-blend-mode: multiply; */
  /* height: 845px; */
  width: 100%;
  background-position: center;
  /* background-repeat: no-repeat; */
  object-fit: cover;
}

@media screen and (width >= 48rem) {
  .hero-section {
    background: url('./assets/images/hero-component/hero_bg-image.jpg');
    background-size: cover;
    width: 100%;
    background-position: center;
    background-clip: border-box;
    /* background-repeat: no-repeat; */
    object-fit: cover;
  }
}


@font-face {
font-family: 'PP Pangaia Ultralight';
src: local('PP Pangaia Ultralight'), url('/pangaia-font/PPPangaia-Ultralight-BF654c530cd00f1.woff') format('woff');
}

@font-face {
font-family: 'PP Pangaia Ultralight Italic';
src: local('PP Pangaia Ultralight Italic'), url('/pangaia-font/PPPangaia-UltralightItalic-BF654c530ca889f.woff') format('woff');
}

.font-pangaia {
  font-family: 'PP Pangaia Ultralight', sans-serif;
}

.font-pangaia-italic {
  font-family: 'PP Pangaia Ultralight Italic', sans-serif;
}

@font-face {
font-family: 'PP Pangaia Medium';
font-style: normal;
font-weight: normal;
src: local('PP Pangaia Medium'), url('/pangaia-font/PPPangaia-Medium-BF654c530cc86d5.woff') format('woff');
}

@font-face {
font-family: 'PP Pangaia Medium Italic';
font-style: normal;
font-weight: normal;
src: local('PP Pangaia Medium Italic'), url('/pangaia-font/PPPangaia-MediumItalic-BF654c530bedffb.woff') format('woff');
}

@font-face {
font-family: 'PP Pangaia Bold';
font-style: normal;
font-weight: normal;
src: local('PP Pangaia Bold'), url('/pangaia-font/PPPangaia-Bold-BF654c530cc27f8.woff') format('woff');
}

@font-face {
font-family: 'PP Pangaia Bold Italic';
font-style: normal;
font-weight: normal;
src: local('PP Pangaia Bold Italic'), url('/pangaia-font/PPPangaia-BoldItalic-BF654c530c8d2fa.woff') format('woff');
}

.about-img {
  background:  url('/src/assets/images/about-resolute-component/image.png');
  background-size: cover;
  background-position: center;
}

.team-bg-img {
  background: linear-gradient(#dcd9d8, #B76D4A), url('/src/assets/images/the-team-component/bg-image.png');
  background-blend-mode: color;
  background-size: cover;
  /* background-size: 100% 100%; */
  /* background-repeat: no-repeat; */
  background-position: bottom;
  /* height: auto; */
  width: 100%;
}

@media screen and (width >= 48rem) {
  .team-bg-img {
    background-size: 100% 100%;
  }
}

.member1, .member2, .member3, .member4, .member5, .member6 {
  background-size: cover;
  background-position: center;
  height: 260px;
}

.member1 {
  background-image: url('/src/assets/images/the-team-component/member1.jpg');
}

.member2 {
  background-image: url('/src/assets/images/the-team-component/member2.jpg');
}

.member3 {
  background-image: url('/src/assets/images/the-team-component/member3.jpg');
}

.member4 {
  background-image: url('/src/assets/images/the-team-component/member4.jpg');
}

.member5 {
  background-image: url('/src/assets/images/the-team-component/member5.jpg');
}

.member6 {
  background-image: url('/src/assets/images/the-team-component/member6.png');
}

.pillar-bg {
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url('/src/assets/images/performance-pillar-component/bg-image.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

